html {
  font-size: 18px;
  font-family: Helvetica;
  display: flex;
  justify-content: center;
  background-color: #0e0e0e;
}

/* Body Content */

.content {
  width: 1014px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

/* Banner */

.top {
  border: 1px solid black;
  width: 1014px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: white;
  font-family: Helvetica;
}

.top img {
  padding-left: 54px;
  padding-right: 1rem;
  height: 1.5rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.banner {
  border: 1px solid black;
  width: 1014px;
  height: 25rem;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);

}

.bannertitle {
  background-color: black;
  color: white;
  margin-top: 9rem;
  width: 20rem;
  padding-left: 3rem;
  padding-top: 2rem;
  margin-left: 54px;
}

.bannertitle h2 {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.bannertitle h1 {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

nav {
  border: 1px solid black;
  width: 1014px;
  background-color: Firebrick;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav span {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: white;
  font-weight: bold;
}

/* Product Content */

.productimage {
  border: 1px solid black;
  width: 1014px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 3rem;
  justify-content: space-around;
}

.pen {
  height: 9rem;
  padding: 2rem;
  border: 4px solid black;
  width: auto;
}

.watch {
  height: 9rem;
  padding: 2rem;
  border: 4px solid black;
  width: auto;
}

.glasses {
  height: 9rem;
  padding: 2rem;
  border: 4px solid black;
  width: 162px;
}

.producttitle {
  border: 1px solid black;
  width: 987px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 27px;
}

/* Contact */

.contact {
  border: 1px solid black;
  width: 1014px;
  background-color: white;
  display: inline-flex;
  justify-content: space-around;
}

.location {
  border: 1px solid black;
  background-color: black;
  color: white;
  width: 35%;
  justify-content: space-between;
}

.hours {
  border: 1px solid black;
  background-color: black;
  color: white;
  width: 35%;
}

.details {
  border: 1px solid black;
  background-color: white;
}

/* Footer */

footer {
  border: 1px solid black;
  width: 1014px;
  background-color: black;
  color: white;
}
